<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.emil.rooms">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".contacts.ContactDetailsActivity"
            android:label="Contact details" />
        <activity
            android:name=".interests.ChooseInterestActivity"
            android:label="Pick your interests" />
        <activity
            android:name=".interests.InterestsGridActivity"
            android:label="Interesting people" />
        <activity
            android:name=".interests.InterestsActivity"
            android:label="Your interests" />
        <activity
            android:name=".interests.InterestDetailsActivity"
            android:label="Interests" />
        <activity
            android:name=".contacts.ContactsActivity"
            android:label="@string/title_activity_private" />
        <activity
            android:name=".professionals.ProfessionalActivity"
            android:label="Professionals" />
        <activity android:name=".professionals.ProfessionalListActivity" />
        <activity
            android:name=".contacts.ContactsGridActivity"
            android:label="@string/title_activity_private" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".landing.LandingActivity"
            android:label="Rooms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>